/* ====== GLOBAL ====== */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ======== INDEX PAGE ======== */

/* ====== HEADER ====== */

.main-header {
  background-color: #eeeeee;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ====== FEATURES ====== */

.features {
  background-color: #eeeeee;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item h2 {
  margin: 0;

  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 400;
}

.features-item a {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.button {
  background-color: #fb565a;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

/* ====== SERVICES ====== */

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item p {
  margin: 0;
}

.services-item h3 {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item a {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
}

/* ====== INFO ====== */

.info h3 {
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
}

.info p {
  margin: 0;
}

.info h4 {
  margin: 0;

  color: #000000;
  text-transform: uppercase;
}

.info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-facts {
  margin: 0;
}

.info-facts dt {
  font-size: 45px;
  font-weight: 500;
}

.info-facts dd {
  margin: 0;
}

/* ====== CLIENTS ====== */

.clients-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.clients-item {
  opacity: 0.2;
}

.clients-item:hover,
.clients-item:focus {
  opacity: 1;
}

.clients-item:active {
  opacity: 0.1;
}

/* ======== CATALOG PAGE ======== */

/* ====== HEADER ====== */

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;

  height: 2px;

  background-color: #fb565a;
}

/* ====== CATALOG HEADING ====== */

.catalog-heading p {
  margin: 0;
}

.catalog-heading h1 {
  margin: 0;

  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 400;
  text-align: center;

  background-color: #eeeeee;
}

/* ====== FILTER ====== */

.filter-form fieldset {
  margin: 0;

  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-slider label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filter-slider input {
  border: none;
  background-color: #eeeeee;
}

.filter-grid-list {
  margin: 0;
  padding: 0;

  line-height: 20px;

  list-style: none;
}

.filter-features-list {
  margin: 0;
  padding: 0;

  line-height: 20px;

  list-style: none;
}

.filter-button {
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

/* ====== SORT ====== */

.sort p {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort ul {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-item a:hover,
.sort-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active,
.sort-item-current a {
  color: #000000;
}

/* ====== CATALOG ====== */

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item-browser {
  width: 360px;
  height: 40px;

  background-color: #e9e9e9;
  border-radius: 3px;
}

.catalog-browser-circles {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-browser-circles li {
  display: inline-block;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
}

.catalog-item {
  position: relative;

  width: 361px;
  height: 615px;
}

.catalog-item>p {
  margin: 0;

  width: 360px;
  height: 576px;
}

.catalog-item-image img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  box-sizing: border-box;
}

.catalog-item-hover {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 360px;
  height: 231px;

  background-color: #eeeeee;
}

.catalog-item-hover h3 {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item-hover p {
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.catalog-item-hover a {
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-button:active {
  color: #ffffff;
}

.catalog-item .catalog-item-hover {
  display: none;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item:hover .catalog-item-browser {
  background-color: #4d4d4d;
}

.catalog-item:hover {
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  line-height: 18px;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 2px;
}

.pagination-item-next {
  width: 260px;
  height: 50px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
}

.pagination-item a {
  padding: 15px 18px;

  color: #000000;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  box-sizing: border-box;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/* ====== FOOTER ====== */

.footer-top p{
  margin: 0;
}

.footer-contacts b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.footer-contacts a {
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button a:hover,
.social-button a:focus {
  background-color: #e74246;
}

.social-button a:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-text p {
  margin: 0;
}

.footer-text p:first-child {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

/* ====== MODAL ====== */

.modal h2 {
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
}

.modal-form p {
  margin: 0;
}

.modal-form label {
  line-height: 18px;
  color: #000000;
  font-weight: bold;
}

.modal-form input {
  border: 2px solid #d7dcde;
}

.modal-form input:hover {
  border-color: #b4b9bb;
}

.modal-form input:focus {
  border-color: #000000;
  outline: none;
}

.modal-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.modal-form textarea {
  border: 2px solid #d7dcde;
}

.modal-form textarea:hover {
  border-color: #b4b9bb;
}

.modal-form textarea:focus {
  border-color: #000000;
  outline: none;
}

.modal-form textarea:invalid {
  color: #e74246;

  border-color: #e74246;
}
