/* ====== GLOBAL ====== */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* ======== INDEX PAGE ======== */

/* ====== HEADER ====== */

.main-header {
  background-color: #eeeeee;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  margin-right: 200px;
  margin-top: 50px;
}

.site-navigation {
  display: flex;
  width: 600px;
}

.site-navigation li {
  margin-right: 47px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  padding-top: 75px;

  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  position: relative;

  margin-left: auto;
  padding-left: 40px;
}

.user-navigation li::before {
  content: "";

  position: absolute;
  left: 0;
  top: 84px;

  width: 16px;
  height: 16px;

  background-image: url(../img/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

/* ====== FEATURES ====== */

.features {
  position: relative;

  height: 425px;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
  overflow: hidden;
}

.features-item {
  position: absolute;

  width: 1160px;
  height: 425px;

  opacity: 0;

  transition: opacity 0.6s;
}

@keyframes slowly {
  0% {
    opacity: 0;
  }

  100$ {
    opacity: 1;
  }
}

.features-item-show {
  z-index: 1;

  opacity: 1;
}

.features-list .item1 {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 430px 15px;
}

.features-list .item2 {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 500px 5px;
}

.features-list .item3 {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 400px 15px;
}

.features-item h2 {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 70px;
  width: 560px;

  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 400;
}

.features-item p {
  margin-bottom: 55px;
  width: 430px;
}

.features-item a {
  padding: 17px 54px;

  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;

  border-radius: 3px;
}

.button {
  background-color: #fb565a;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.slider {
  position: absolute;
  bottom: 95px;
  left: 625px;
  z-index: 2;
}

.slider-controls {
  display: flex;
  justify-content: space-between;

  width: 90px;
}

.slider-controls label {
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#toggle1:checked ~ .slider-controls label[for="toggle1"],
#toggle2:checked ~ .slider-controls label[for="toggle2"],
#toggle3:checked ~ .slider-controls label[for="toggle3"] {
  width: 8px;
  height: 8px;

  background-color: #c1c1c1;
  border: 5px solid #ffffff;
}

#toggle1:focus ~ .slider-controls label[for="toggle1"],
#toggle2:focus ~ .slider-controls label[for="toggle2"],
#toggle3:focus ~ .slider-controls label[for="toggle3"] {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
/* ====== SERVICES ====== */

.services .container {
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 160px;

  list-style: none;
}

.services-item {
  position: relative;

  width: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: 0;
}

.services-item p {
  margin: 0;
}

.services-item .services-image {
  margin-bottom: 25px;
  width: 300px;
  height: 146px;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 18px;

  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item .services-text {
  width: 260px;
}

.services-item a {
  position: absolute;
  left: 0;
  bottom: -80px;

  padding: 15px 40px;

  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
}

/* ====== INFO ====== */

.info {
  position: relative;

  margin-top: 75px;
}

.info .container {
  padding-bottom: 70px;

  border-bottom: 2px solid #eeeeee;
}

.info h3 {
  margin: 0;
  margin-bottom: 32px;
  width: 670px;

  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
}

.info p {
  margin: 0;
  margin-bottom: 40px;
  width: 670px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.info h4 {
  margin: 0;
  margin-bottom: 25px;
  width: 670px;

  color: #000000;
  text-transform: uppercase;
}

.info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-list li {
  position: relative;

  margin-bottom: 25px;
  padding-left: 35px;
}

.info-list li:last-child {
  margin-bottom: 0;
}

.info-list li::before {
  content: "";

  position: absolute;
  bottom: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.info-digits {
  width: 360px;
}

.info-digits::before {
  content: "";

  position: absolute;
  top: -35px;

  width: 360px;
  height: 208px;

  background-image: url(../img/nerds-illustration.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-digits h4 {
  margin-bottom: 35px;
  width: 360px;

  text-align: center;
}

.info-facts {
  display: flex;

  margin: 0;
}

.info-facts div {
  width: 120px;
}

.info-facts dt {
  margin-bottom: 10px;

  font-size: 45px;
  line-height: 60px;
  font-weight: 500;
}

.info-facts dd {
  margin: 0;

  line-height: 18px;
}

/* ====== CLIENTS ====== */

.clients .container {
  border-bottom: 2px solid #eeeeee;
}

.clients-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.clients-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 260px;
  height: 180px;

  opacity: 0.2;
}

.clients-item:hover,
.clients-item:focus {
  opacity: 1;
}

.clients-item:active {
  opacity: 0.1;
}

/* ======== CATALOG PAGE ======== */

/* ====== HEADER ====== */

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;

  height: 2px;

  background-color: #fb565a;
}

/* ====== CATALOG HEADING ====== */

.catalog-heading {
  padding-top: 60px;
  padding-bottom: 105px;
  margin-bottom: 55px;

  background-color: #eeeeee;
}

.catalog-heading p {
  margin: 0;
}

.catalog-heading h1 {
  margin: 0;

  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 400;
  text-align: center;
}

/* ====== FILTER ====== */

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter-form {
  width: 260px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form legend {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-slider label {
  margin-right: 10px;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filter-slider input[type="text"] {
  padding: 10px 10px;
  width: 80px;
  height: 38px;
  box-sizing: border-box;

  text-align: center;

  border: none;
  background-color: #eeeeee;
}

.value-slider {
  position: relative;

  margin-top: 30px;
  margin-bottom: 14px;
  padding-top: 40px;
  width: 260px;
  height: 80px;
  box-sizing: border-box;

  background-color: #eeeeee;
}

.value-slider .line {
  margin: auto;
  width: 219px;
  height: 2px;

  background-color: #d7dcde;
}

.line .bar {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.value-slider-point {
  position: absolute;

  width: 20px;
  height: 20px;
  box-sizing: border-box;

  background-color: #acacac;
  border-radius: 50%;
  border: 8px solid #ffffff;
  box-shadow: 0 3px 0 0 #cccccc;
  cursor: pointer;
}

.slider-point-min {
  top: 30px;
  left: 18px;
}

.slider-point-max {
  top: 30px;
  left: 160px;
}

.features-price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  width: 260px;
}

.filter-grid legend,
.filter-features legend {
  margin-bottom: 15px;
}

.filter-grid-list {
  margin: 0;
  padding: 0;

  line-height: 20px;

  list-style: none;
}

.filter-option {
  position: relative;

  padding-left: 35px;
  margin-bottom: 20px;
}

.filter-grid-list .filter-option:last-child {
  margin-bottom: 45px;
}

.filter-option label {
  display: block;

  cursor: pointer;

  user-select: none;
}

.filter-option input[type="radio"] + .radio-indicator {
  position: absolute;
  left: 5px;
  top: 0;

  width: 17px;
  height: 17px;

  background-color: #ffffff;
  box-shadow: 0 0 0 4px #b8b8b8;
  border-radius: 50%;
  cursor: pointer;
}

.filter-option input[type="radio"]:hover + .radio-indicator {
  box-shadow: 0 0 0 4px #4d4d4d;
}

.filter-option input[type="radio"]:focus + .radio-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.filter-option input[type="radio"]:disabled + .radio-indicator {
  box-shadow: 0 0 0 4px #ededed;
}

.filter-option input[type="radio"]:checked + .radio-indicator {
  width: 9px;
  height: 9px;

  background-color: #b8b8b8;
  border: 4px solid #ffffff;
  box-shadow: 0 0 0 4px #b8b8b8;
  border-radius: 50%;
}

.filter-option input[type="radio"]:checked:hover + .radio-indicator {
  background-color: #4d4d4d;
  box-shadow: 0 0 0 4px #4d4d4d;
}

.filter-option input[type="radio"]:checked:disabled + .radio-indicator {
  background-color: #ededed;
  box-shadow: 0 0 0 4px #ededed;
}

.filter-option input[type="radio"]:disabled ~ span,
.filter-option input[type="radio"]:disabled:checked ~ span,
.filter-option input[type="checkbox"]:disabled ~ span,
.filter-option input[type="checkbox"]:disabled:checked ~ span {
  color: #ededed;
}

.filter-option input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 3px;
  top: 0;

  width: 27px;
  height: 27px;

  background-image: url(../img/checkbox-off-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
  cursor: pointer;
}

.filter-option input[type="checkbox"]:hover + .checkbox-indicator,
.filter-option input[type="checkbox"]:checked:hover + .checkbox-indicator {
  opacity: 1;
}

.filter-option input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.filter-option input[type="checkbox"]:disabled + .checkbox-indicator,
.filter-option input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.1;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url(../img/checkbox-on-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
  cursor: pointer;
}

.filter-features-list {
  margin: 0;
  padding: 0;

  line-height: 20px;

  list-style: none;
}

.filter-button {
  width: 100%;
  margin-top: 30px;
  padding: 16px;
  box-sizing: border-box;

  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

/* ====== SORT ====== */

.right-column {
  width: 760px;
}

.sort {
  display: flex;
  width: 760px;
  margin-bottom: 50px;
}

.sort p {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.sort ul {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  list-style: none;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-item a:hover,
.sort-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active,
.sort-item-current a {
  color: #000000;
}

.sort-by-category {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sort-by-category li {
  margin-right: 25px;
}

.sort-by-category li:last-child {
  margin-right: 0;
}

.sort-by-priority {
  position: relative;

  display: flex;
  margin: 0;
  margin-left: 50px;
  padding: 0;
}

.sort-by-priority .sort-down {
  margin-left: 17px;
}

.sort-item:hover polygon,
.sort-item:focus polygon {
  fill: #a6a6a6;
}

.sort-item:active polygon,
.sort-item-current polygon {
  fill: #000000;
}

/* ====== CATALOG ====== */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item-browser {
  width: 360px;
  height: 40px;

  background-color: #e9e9e9;
  border-radius: 3px;
}

.catalog-browser-circles {
  display: flex;

  margin: 0;
  padding: 0;
  padding: 13px 15px;

  line-height: 0;

  list-style: none;
}

.catalog-browser-circles li {
  width: 14px;
  height: 14px;
  margin-right: 9px;

  background-color: #ffffff;
  border-radius: 50%;
}

.catalog-item {
  position: relative;

  width: 360px;
  height: 615px;
  margin-bottom: 35px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 40px;
}

.catalog-item>p {
  margin: 0;

  width: 360px;
  height: 576px;
}

.catalog-item-image img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  box-sizing: border-box;
}

.catalog-item-hover {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 360px;
  height: 231px;
  padding: 30px 60px;
  box-sizing: border-box;

  background-color: #eeeeee;
}

.catalog-item-hover h3 {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item-hover p {
  margin: 0;
  margin-bottom: 27px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.catalog-item-hover a {
  display: block;
  margin: auto;
  padding: 17px 60px;
  width: 200px;
  height: 50px;
  box-sizing: border-box;

  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.catalog-button:active {
  color: #ffffff;
}

.catalog-item .catalog-item-hover {
  display: none;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item:hover .catalog-item-browser {
  background-color: #4d4d4d;
}

.catalog-item:hover {
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.pagination-list {
  display: flex;
  margin: 0;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  margin-right: 11px;

  line-height: 18px;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 2px;
}

.pagination-item-next {
  width: 260px;
  height: 50px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
}

.pagination-item a {
  padding: 15px 18px;

  color: #000000;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  box-sizing: border-box;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/* ====== FOOTER ====== */

.footer {
  margin-top: 80px;
}

.inner-footer {
  margin-top: 60px;
}

.footer-top {
  position: relative;

  margin-bottom: 65px;

  min-height: 415px;
}

.footer-top iframe {
  position: absolute;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 415px;
}

.footer-image {
  position: absolute;
  top: 0;
}

.footer-top p {
  margin: 0;

  line-height: 18px;
}

.footer-contacts {
  position: absolute;
  top: 53px;
  z-index: 2;

  width: 319px;
  height: 308px;
  padding: 51px;
  box-sizing: border-box;

  background-color: #ffffff;
}

.footer-contacts b {
  display: block;

  margin-bottom: 20px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.footer-contacts p:nth-child(3) {
  margin-top: 18px;
  margin-bottom: 40px;
}

.footer-contacts a {
  display: block;

  padding: 15px 40px;
  width: 100%;
  box-sizing: border-box;

  color: #ffffff;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 3px;
}

.footer-bottom {
  margin-bottom: 70px;
}

.footer-bottom .container {
  display: flex;
  align-items: center;
}

.footer-social {
  display: flex;

  margin: 0;
  margin-right: 40px;
  padding: 0;
  width: 360px;

  list-style: none;
}

.social-button {
  margin-right: 13px;
}

.social-button a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button a:hover,
.social-button a:focus {
  background-color: #e74246;
}

.social-button a:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-text p {
  margin: 0;
}

.footer-text p:first-child {
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

/* ====== MODAL ====== */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(10px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;

  display: none;
  margin: auto;
  margin-top: -295px;
  padding: 65px 100px;
  width: 960px;
  box-sizing: border-box;

  background-color: #ffffff;
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.5),
              inset -5px -5px 5px 0 rgba(0, 0, 0, 0.5);
}

.modal-show {
  display: block;

  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.modal h2 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form p {
  margin: 0;
  margin-bottom: 35px;
}

.modal-form p:first-child {
  margin-right: 40px;
}

.modal-form label {
  display: block;
  margin-bottom: 10px;

  line-height: 18px;
  color: #000000;
  font-weight: bold;
}

.modal-form input {
  padding: 15px;
  width: 360px;
  box-sizing: border-box;

  border: 2px solid #d7dcde;
}

.modal-form input:hover {
  border-color: #b4b9bb;
}

.modal-form input:focus {
  border-color: #000000;
  outline: none;
}

.modal-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.modal-form textarea {
  padding: 12px;
  width: 760px;
  min-height: 118px;
  box-sizing: border-box;

  border: 2px solid #d7dcde;
}

.modal-form textarea:hover {
  border-color: #b4b9bb;
}

.modal-form textarea:focus {
  border-color: #000000;
  outline: none;
}

.modal-form textarea:invalid {
  color: #e74246;

  border-color: #e74246;
}

.modal-form .button {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 15px;
  width: 260px;
  box-sizing: border-box;

  color: #ffffff;
  text-transform: uppercase;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;

  width: 23px;
  height: 23px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 2px;

  width: 25px;
  height: 3px;

  background-color: #fecccd;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  background-color: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}
